- content_for :navbar do
  = render :partial => 'navbar'

.row
  .span5.offset1
    %h1 About
  .span5.user-label
    %p Signed in as Ninja Burger

.row
  .span10.offset1
    %hr

.row
  .span7.offset1
    %strong About lead
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum arcu sed nunc condimentum luctus. Suspendisse potenti. Nunc rutrum neque vel augue pulvinar tristique. Integer id mauris velit, vitae consectetur nulla. Nulla augue arcu, aliquam et condimentum nec, hendrerit a ipsum. Aliquam auctor gravida sodales. Nunc fermentum vestibulum est, eu viverra ligula imperdiet eu. Pellentesque ac mauris turpis, a vehicula magna. Praesent non lorem augue. In felis augue, aliquam quis facilisis et, elementum sit amet leo. Suspendisse vitae mi magna, in commodo diam.
