extends layout

block content
  .landing.row
    .span8.offset2
      .hero-unit
        h1 Battleship
        p A school project concerning naval warfare
        a(href='/signin').btn.btn-primary.btn-large Sign in
